@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 20px !important;
  
}
.flex-container {
  display: flex !important;
  
}
.btn{
  background-color: red !important;
  color: white !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

.text-left {
  text-align: left;
}
.fa-plus{
  color: green !important;
  margin: 5px !important;
}
.fa-minus{
  color: red !important;
  margin: 5px !important; 
}
.fa-trash{
  color: red !important;
  margin: 5px !important; 
} 

